<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
	<customErrors mode="Off" />
    <!-- <compilation debug="true" targetFramework="4.0" /> -->
	<compilation debug="true" targetFramework="4.0">
		  <assemblies>
			  <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			  <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			  <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			  <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		  </assemblies>
	  </compilation>
    <httpRuntime maxRequestLength="1048576" /> <!-- 8192 (8MB) maximum file upload size is 8MB -->
  </system.web>
  <connectionStrings>
    <!--<add name="Conn" connectionString="Data Source=20.40.56.5;Initial Catalog=Lega_DB;User ID=sa; Password=Sfa@1234;" providerName="System.Data.SqlClient" />-->
    <add name="Conn" connectionString="Data Source=.;Initial Catalog=Lega_DBNew;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.webServer>
	
		<security> 
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
                <add value="Home.aspx" />
            </files>
        </defaultDocument>
        <caching>
            <profiles>
                <add extension=".xls" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
    </system.webServer>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from='admin@mplegal.com'>
				<network
					host='mail.smtp2go.com'
					port='587'
					enableSsl='true'
					userName="admin@mplegal.com"
					password="MUNsNNyJQmIReS0C"
					defaultCredentials="false"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>